__pycache__/
.env
output/
tools/out/
webgl_viewer/tools/out/
CodeWalker-master/
compiled_cw/
webgl_viewer/assets/
webgl_viewer/dist/
wrappers/
webgl_viewer/node_modules/
CodeWalker/
.venv/
*json
*jsonl
webgl_viewer/data/
repos/
output-olf/
webgl_viewer_old/
.vehicle-import-source/
