__pycache__/
.env
output/
CodeWalker-master/
compiled_cw/
webgl_viewer/assets/
webgl_viewer/dist/
wrappers/
webgl_viewer/node_modules/
CodeWalker/
.venv/
*json
*jsonl
webgl_viewer/data/
repos/
output-olf/
webgl_viewer_old/
